<a href="@Url.Action("Index","GioHang")" class="icon_header relative">
    <img src="https://hasaki.vn/images/graphics/icon_header_1.svg" alt="" class="loading"
            data-was-processed="true">
    <span class="counter_number counter qty">@Session["TongSL"]</span>
</a>
