
@{
    ViewBag.Title = "Finish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="lg_login">
    <div class="sub_login">
        <div class="main_content_sub_login">
            <h2 style="text-align: center">Mật khẩu đã được cập nhật</h2>
            <div class="block_more_login">
                @Html.ActionLink("Đăng nhập", "Login", "LoginResgis", null, new { @class = "btn btn_site_1" })
            </div>
        </div>
    </div>
</div>